<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.demidovich.classwork1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Classwork1Activity"
            android:screenOrientation="fullSensor"> <!-- noHistory is for logo -->
            <intent-filter>
                <action android:name="android.content.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".classwork2.Classwork2Activity"
            android:parentActivityName=".Classwork1Activity" />
        <activity
            android:name=".classwork3.Classwork3Activity"
            android:parentActivityName=".Classwork1Activity" />

        <activity
            android:name=".classwork4.Classwork4Activity"
            android:parentActivityName=".Classwork1Activity" />

        <activity
            android:name=".classwork5.Classwork5Activity"
            android:parentActivityName=".Classwork1Activity" />

        <receiver android:name=".classwork5.MyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <service android:name=".classwork5.MyService" />

        <service android:name=".classwork5.MyIntentService" />

        <activity
            android:name=".classwork6.Classwork6Activity"
            android:parentActivityName=".Classwork1Activity" />


        <activity
            android:name=".classwork7.Classwork7Activity"
            android:parentActivityName=".Classwork1Activity" />

    </application>
</manifest>
